/*
 THEME NAME: DigiTheme
 AUTHOR: Digilite Web Solutions
 VERSION: 3.0
 */


/*FONTS*/


/*TYPOGRAPHY*/

h1,
.h1 {
    font-size: 36px;
    font-weight: 700;
}

h2,
.h2 {
    font-size: 34px;
    font-weight: 700;
}

h3,
.h3 {
    font-size: 24px;
    font-weight: 500;
}

h4,
.h4 {
    font-size: 20px;
    font-weight: 500;
}

h5,
.h5 {
    font-size: 18px;
    font-weight: 700;
}

h6,
.h6 {
    font-size: 16px;
    font-weight: 500;
}

.ftm h1 {
    font-size: 24px !important;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 2px solid #003B5C;
}


/*DEFAULT CSS*/

* {
    outline: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #003B5C;
    background: #E8EAEC;
}

body#arm {
    font-size: 16px;
}

a,
a:focus {
    color: #036CA7;
}

a:hover {
    color: #036CA7;
}

img {
    max-width: 100%;
    height: auto;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 0 auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    transition: .2s;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
}

.page-404 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.wp-caption {
    max-width: 100%;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding: 6px 0px 5px;
    text-align: left;
}

.cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button,
.morebutton a {
    border: 1px solid #003B5C;
    border-radius: 6px;
    padding: 5px 50px;
    font-weight: 700;
    font-size: 14px;
    transition: .2s;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.button:hover,
.morebutton a:hover {
    text-decoration: none;
}

.white-button {
    color: #003B5C;
}

.white-button:hover {
    color: #fff;
    background: #003B5C;
    text-decoration: none;
}

.blue-button,
.morebutton a {
    background: #003B5C;
    color: #fff;
}

.blue-button:hover,
.morebutton a:hover {
    color: #003B5C;
    background: #fff;
    text-decoration: none;
}

.morebutton a {
    display: block;
    margin: auto;
}


/*--MAIN CSS--*/


/*** HEADER ***/

#topbar {
    background: #003B5C;
    padding: 6px 0;
    text-align: right;
}

.topbar-menu ul {
    display: flex;
    justify-content: flex-end;
}

.topbar-menu ul li:last-child {
    margin-left: 20px;
}

header {
    position: relative;
    border-bottom: 4px solid #003B5C;
    background: #fff;
}

header .container {
    position: unset;
}

#topbar a {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.logo-menu {
    padding-top: 20px;
    padding-bottom: 20px;
}

#arm .logo-menu {
    padding-top: 21px;
    padding-bottom: 21px;
}

#arm #logo img {
    width: 98%;
    height: 37px;
}

#logo img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

header nav {
    margin-left: auto;
}

.current-menu-item a {
    color: #3A913F;
}

header nav ul>li>a {
    color: #003B5C;
    font-weight: 700;
    margin-right: 50px;
    transition: .2s;
}

header nav ul>li>a:hover {
    text-decoration: none;
}

header .main-menu {
    display: flex;
    margin-bottom: 0;
}

header .search {
    position: relative;
}

header .search-bar {
    all: unset;
    border: 2px solid #003B5C;
    border-radius: 20px;
    padding: 7px;
    transition: .2s;
}

header .search-bar:focus,
#posts-filter .search-field input:focus {
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
}

header input[type="search"i]::-webkit-search-cancel-button {
    margin-right: 30px;
}

header .search button {
    all: unset;
    position: absolute;
    right: 10px;
}

#topbar .menu-item-language-current a {
    color: #61af66;
}

#menu-item-wpml-ls-142-en {
    text-transform: capitalize;
    margin-left: 30px;
    position: relative;
}

li#menu-item-wpml-ls-142-en::after {
    content: "";
    position: absolute;
    width: 2px;
    right: -11px;
    top: 0;
    height: 100%;
    background: #fff;
}

.main-menu-mobile {
    display: none;
}


/*** BREADCRUMBS ***/
.breadcrumbs {
    display: flex;
    padding: 15px 0;
    font-size: 12px;
}

.breadcrumbs .separator {
    margin: 0 7px;
}

.aioseo-breadcrumbs {
    padding: 15px 0;
    font-size: 12px;
}

#breadcrumbs li:last-child,
#plug-breadcrumbs .actual {
    width: 500px;
    height: 13px;
    overflow: hidden;
}

#plug-breadcrumbs {
    padding: 15px 0;
    font-size: 12px;
}

#plug-breadcrumbs .actual {
    font-weight: 700;
}

.academics_cpt-template-default.single-academics_cpt #plug-breadcrumbs a:nth-child(6) {
    display: none;
}

/*** HOMEPAGE ***/


/*** MASONARY HERO LAYOUT ***/

.home-hero {
    margin-top: 40px;
    margin-bottom: 40px;
}

.masno img {
    max-width: 100%;
    display: block;
    height: 290px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 8px;
    z-index: -1;
}

.masno {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    grid-gap: 26px;
}

.hero-heading {
    margin-bottom: 17px;
}


/* .masno .flip-card span {
    position: absolute;
    width: 75%;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
} */

.masno .flip-card .flip-card-back span {
    color: #003B5C;
    font-weight: 700;
}

.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-back,
.flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-front span {
    display: flex;
    height: 100%;
    justify-content: end;
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
    color: #fff;
}

.flip-card-back {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px 5px;
    color: #003B5C;
    transform: rotateY(180deg);
}

.flip-card-back p {
    font-size: 14px;
    padding: 8px;
}

.flip-card>img {
    grid-row: 1 / -1;
    grid-column: 1;
}

.flip-card-front {
    color: black;
    text-decoration: none;
    height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    background-position: center;
    transition: .2s;
    position: relative;
}

.flip-card-back>a {
    border-radius: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 99999;
}

#backlink {
    text-shadow: none;
    background: transparent;
    box-shadow: none;
    text-decoration: none;
    color: #003B5C !important;
}

.flip-card:hover a {
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}

#youtube-videos iframe {
    border-radius: 6px;
}


/*** HERO TABS ***/

.tab-content {
    width: 100%;
}

.tab-content section {
    width: 100%;
    padding: 15px 20px;
    border-radius: 4px;
    background: #fff;
}

.tab-content section:not(:last-child) {
    margin-bottom: 26px;
}

.tab-content section>span {
    font-size: 21px;
    font-weight: bold;
    display: inline-block;
}

.tab-content section h1 {
    margin-top: 15px;
    font-weight: 100;
    text-align: center;
}

#tab-item-3 .morebutton a {
    margin-top: 22px;
}

.tab-content section ul li {
    padding: 15px 0;
    border-bottom: 1px solid #E8E8E8;
}

.tab-content section ul a {
    color: #003B5C;
    font-size: 14px;
}

.tab-content .sidebar-slider p {
    margin-bottom: 16px;
    margin-top: 10px;
}

.tab-content .sidebar-slider p a {
    height: 16px;
    color: #003B5C;
    -webkit-line-clamp: 3;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.tab-content .owl-carousel .owl-item .sidebar-slider img {
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 6px;
}

.event-details {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
}

.month-day {
    font-size: 24px;
    margin-right: 5px;
}

.clock {
    font-size: 12px;
}

#tab-item-2 ul a {
    text-decoration: underline;
}

.event-details::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0;
    background-image: url(img/calender-icon.png);
    background-repeat: no-repeat;
    background-position-y: center;
}

#latest-devs {
    margin-top: 20px;
}

#latest-devs .colored-box-title,
#latest-devs .colored-box-title img {
    height: auto;
}

#latest-devs .owl-dots {
    display: flex;
    justify-content: center;
}

#latest-devs .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

#latest-devs .owl-dots .owl-dot.active span {
    background: #869791;
}


/*** TALKS AND PROJECTS ***/

.talks-projects {
    background: #fff;
    text-align: center;
}

.talks-projects h2 {
    font-size: 26px;
    margin-bottom: 50px;
}

.colored-box-title {
    background: #fff;
    border-radius: 5px 5px 0 0;
    height: 85px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #003B5C;
}

.colored-box-title>a {
    width: 100%;
}

.colored-boxes {
    margin-bottom: 10px;
}

.colored-box {
    margin-right: 15px;
    text-align: center;
    border-radius: 6px;
    transition: .2s;
    overflow: hidden;
}

.colored-box:hover {
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}

.colored-box.no-border-box .colored-box-title {
    border: none;
}

.card-body .projects-page>h3 {
    margin-bottom: 20px;
    font-weight: 700;
}

.spacing {
    padding: 13px;
}

.card-body .projects-page .button {
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.home .colored-box {
    flex-basis: 100%;
}

.colored-box h3 {
    padding: 20px 0;
    margin-bottom: 0;
}

.colored-box p {
    color: #fff;
    padding: 10px;
    line-height: 27px;
    margin-bottom: 0;
    background: #003B5C;
    height: 100%;
}

.colored-box p a {
    color: #fff;
    padding-top: 5px;
    padding-bottom: 24px;
    font-size: 14px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.colored-box:last-child {
    margin-right: 0;
}

.talks-projects .col-md-6 {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.talks-projects .col-md-6:first-child {
    border-right: 1px solid #003B5C;
}

.subi-page ul {
    list-style-type: disc;
    list-style-position: inside;
}

.post-type-archive-talk_seminars .colored-box p a {
    padding-bottom: 0;
}


/*** PROJECTS ***/

.colored-box-title img {
    height: 85px;
    width: 100%;
    padding: 2px 5px;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.pagination-links {
    text-align: left;
}

.pagination-links .page-numbers {
    padding-right: 5px;
}

.proj-single-img {
    width: 50%;
    margin-left: 15px;
    margin-bottom: 20px;
    float: right;
}


/*** Collaborations ***/

.collabs {
    padding: 60px 0;
}

.collabs h2 {
    text-align: center;
    margin-bottom: 60px;
}

.collabs .col-md-4:not(:last-child) {
    padding-right: 25px;
}

.single-collab h3 {
    border-bottom: 1px solid #003B5C;
    padding-bottom: 20px;
    padding-left: 10px;
}

.single-collab ul {
    margin-left: 25px;
    list-style-type: disc;
}

.single-collab ul a {
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #003B5C;
}

.collabs-buttons {
    align-items: center;
    margin-top: 50px;
}

.collabs-buttons .button {
    margin: 7px 0;
}

.collabs-posts {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.17);
}


/*** Zones ***/

.zones {
    padding: 60px 0;
    background: #fff;
}

.zones .col-md-4:first-child .single-zone,
.zones .col-md-4:nth-child(2) .single-zone {
    border-right: 1px solid #003B5C;
}

.zones .col-md-4:not(:first-child) .single-zone {
    padding-left: 25px;
    padding-right: 5px;
}

.single-zone li {
    margin-bottom: 15px;
}

.single-zone li a {
    color: #003B5CB2;
}

.single-zone .h1 {
    margin-bottom: 30px;
    font-size: 24px;
}

.single-zone .h1 a {
    color: #003B5C;
}


/*** Highlights Carousel ***/

.fixed-back {
    background: linear-gradient(to bottom, #EAEAEA 0, #EAEAEA 103px, #3A913F 98px, #3A913F 100%);
}

.owl-carousel .owl-item {
    border-radius: 18px;
}

.owl-carousel {
    position: relative;
}

.owl-nav .owl-next {
    position: absolute;
    right: -25px;
    top: 50%;
}

.owl-nav .owl-prev {
    position: absolute;
    left: -25px;
    top: 50%;
}

.highlights-slider>h2 {
    text-align: center;
    margin: 60px 0 10px;
}

.slider-button {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.slider-button .button {
    border-color: #fff;
    color: #fff;
}

.slider-button .button:hover {
    background: #fff;
    color: #3A913F;
}

.high-icon {
    padding: 10px 50px;
    background: #3A913F;
    border-radius: 18px 18px 0 0;
}

.high-icon img {
    width: 45px !important;
    height: 30px;
    margin: auto;
    display: block;
    -o-object-fit: contain;
    object-fit: contain;
}

.high-desc {
    text-align: center;
    padding: 15px 20px;
    background: #fff;
    border-radius: 0 0 18px 18px;
    min-height: 162px;
}

.high-desc span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    color: #003B5C;
    margin-bottom: 10px;
}

.high-desc p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0;
}

#highlights-carousel .high-desc {
    padding: 10px;
}

#highlights-carousel .item {
    margin-top: 53px;
}


/*** Highlights Archive ***/

#highlights-archive .cus-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

#highlights-archive .cus-container .item {
    background: #fff;
    border-radius: 18px;
}

#highlights-archive h2 {
    grid-column: 1/-1;
}

#highlights-archive h2:not(:first-child) {
    margin-top: 30px;
}

/*** People ***/

.team-page {
    margin-bottom: 100px;
}

.team-page h1 {
    margin-bottom: 40px;
}

.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.team-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.acc-member-img {
    width: 50%;
}

#team-224 .item {
    display: flex;
    align-items: center;
    width: auto !important;
}

.team-container .layer-media img {
    width: 150px;
    border-radius: 50%;
}

.skin.flat .layer-content {
    flex: 1;
}

.team-container .team-items .item {
    background: none !important;
}

.team-member img {
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 50%;
}

.member-info {
    width: 50%;
    margin-left: 15px;
}

.member-info a {
    color: #003B5C;
}


/*** CONTACT US ***/

.contact-info {
    margin-bottom: 45px;
}

.contact-info h1 {
    margin-bottom: 20px;
}

.contact-info .row {
    margin-top: 40px;
}

.contact-info a {
    color: #003B5C;
}

.phone-info {
    margin-top: 35px;
    margin-bottom: 35px;
}

.phone-info>span,
.email-info>span {
    margin-right: 25px;
}

.contact-us-from p {
    font-weight: 500;
    margin-top: 50px;
}

.contact-us-from .with_frm_style .frm_primary_label {
    color: #003B5C;
    margin-bottom: 7px;
}

.contact-us-from .frm_style_formidable-style.with_frm_style .frm_submit button {
    background: #003B5C;
    color: #fff;
    border-color: #003B5C;
}

.contact-us-from .frm_style_formidable-style.with_frm_style .frm_submit button:hover {
    background: #efefef;
    border-color: #cccccc;
    color: #444444;
}

.contact-us-map {
    -webkit-filter: brightness(75%);
    filter: brightness(75%);
    margin-bottom: -5px;
}


/*** Function Areas ***/

.accordion .card {
    border-radius: 6px !important;
    border: none;
    margin: 5px 0;
}

.accordion .card button {
    width: 100%;
    font-weight: bold;
    text-align: left;
    color: #fff;
    text-decoration: none;
}

.accordion .card-header {
    background: #003B5C;
    color: #fff;
    border-radius: 6px;
    padding: 10px 20px;
}

.accordion .card .btn-link::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: 15px;
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: center;
}

.accordion .btn-link:hover,
.accordion .btn-link:focus {
    text-decoration: none;
}

.accordion .card-body {
    background: #E8EAEC;
}

.main-fnc-img {
    border-radius: 6px;
}

.talk-single-img {
    text-align: right;
}

#arm .masno .flip-card span {
    width: 95%;
    font-size: 18px;
    word-break: break-word;
}

#arm h1 {
    font-size: 34px;
}

#arm h2 {
    font-size: 32px;
}

.function-area-banner {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 28px;
}


/*** Resources ***/

.icon-text-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

.icon-text-box {
    display: flex;
    width: 45%;
    border-radius: 18px;
    transition: .2s;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
}

.icon-text-box-link {
    position: absolute;
    inset: 0;
}

.icon-text-box .icon-text-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    padding: 25px;
    background: #003B5C;
    border-radius: 18px 0 0 18px;
    transition: .2s;
}

.icon-text-box:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon-text-box:hover .icon-text-box-info {
    background-color: #549E59;
}

.icon-text-box:hover .icon-text-box-info h5,
.icon-text-box:hover .icon-text-box-info p {
    color: #fff;
}

.icon-text-box img {
    max-width: 90px;
    max-height: 90px;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.icon-text-box-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border: 2px solid #003B5C;
    border-radius: 0 18px 18px 0;
    transition: .2s;
    width: 100%;
}

.icon-text-box-info p {
    margin-bottom: 0;
    font-size: 14px;
}

.table-titles {
    background: #003B5C;
    color: #fff;
}

.table-titles th {
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.table-titles th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.table-titles th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.resource-table td {
    padding: 15px 10px;
    width: 100%;
}

.resource-table p {
    margin-bottom: 0;
}

.resource-table td:not(:last-child) {
    border-right: 1px solid #0000002B;
}


/*** Resources sub cat ***/

.sub-cats-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.sub-cat-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    outline: 2px solid #003B5C;
    border-radius: 6px;
    position: relative;
    transition: .3s;
    margin-right: 10px;
}

.sub-cat-box:last-child {
    margin-right: 0;
}

.sub-cat-box:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.sub-cat-icon {
    padding: 10px;
    width: 100%;
    text-align: center;
    max-height: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.sub-cat-icon img {
    max-width: 40px;
    -o-object-fit: contain;
    object-fit: contain;
}

.sub-cat-title {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .2s;
}

.sub-cat-title h5 {
    font-size: 12px;
    margin-bottom: 0;
}

#arm .sub-cat-title h5 {
    font-size: 10px;
    word-break: break-word;
}

.sub-cat-box:hover .sub-cat-title,
.sub-cats-container .active-sub .sub-cat-title {
    background: #003B5C;
    color: #fff;
}

.resource-table {
    display: block;
    width: 100%;
    font-size: 14px;
    color: #2E3842;
    overflow-y: auto;
    overflow-x: auto;
    height: 270px;
}

.resource-table .lang {
    text-transform: uppercase;
}

.resource-table a {
    color: #2E3842;
}

.resource-table .tags span:last-child {
    display: none;
}

.no-data-found {
    text-align: center;
    font-size: 21px;
    margin-top: 40px;
}


/*** Resources Interactive Maps and videos ***/

.title-ex-fevid {
    margin-bottom: 20px;
}

.title-ex-fevid h3 a {
    color: #003B5C;
    text-decoration: none;
}

.title-ex-fevid .excerpt p {
    font-size: 14px;
    margin-bottom: 5px;
}

.title-ex-fevid iframe {
    width: 100%;
}

.title-ex-fevid img {
    border-radius: 6px;
}


/*** Posts Filter Form ***/

#posts-filter {
    text-align: right;
    margin: 20px 0;
}

.search-field {
    display: inline-block;
    position: relative;
}

#posts-filter .search-field button {
    all: unset;
    font-size: 21px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#posts-filter select {
    padding: 8px 5px;
    border: 1px solid #003B5C;
    border-radius: 6px;
    font-size: 15px;
}

#posts-filter input {
    padding: 9px 10px;
    border: 1px solid #003B5C;
    border-radius: 6px;
    font-size: 15px;
}

#posts-filter label {
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
}

.extra-filter {
    padding: 9px 10px;
    border: 1px solid #003B5C;
    border-radius: 6px;
    font-size: 15px;
}

#posts-filter select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-position: calc(100% - 12px) center !important;
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-color: #fff;
}


/*** Resources Domain Libraries ***/

.sub-subs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.sub-subs-box {
    width: calc(25% - 20px);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    outline: 3px solid #003B5C;
    border-radius: 6px;
}

.sub-subs-box a:nth-child(2) {
    padding-top: 20px;
}

.sub-subs-box .sub-sub:last-child {
    padding-bottom: 25px;
}

.parent-sub {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #003B5C;
    color: #fff;
    padding-left: 15px;
}

#arm .parent-sub {
    font-size: 14px;
}

.parent-sub:hover {
    color: #fff;
}

.sub-sub {
    padding: 5px 15px;
    color: #003B5C;
    text-decoration: underline;
}

#arm .sub-sub {
    font-size: 12px;
}

.domain-into-text {
    padding: 40px 0;
}


/*** Resources Domain Libraries Subs ***/

#accordionlib button {
    font-size: 18px;
    font-weight: 700;
}

#accordionlib .card-body {
    padding-left: 0;
    padding-right: 0;
}

#accordionlib .table-titles th {
    text-align: left;
    padding: 10px 15px;
}

#accordionlib .resource-table td {
    padding: 15px;
}


/*** Student Zone ***/

.icon-text-box .icon-text-box-info h5 {
    color: #549E59;
    font-weight: 400;
    text-transform: uppercase;
}

#arm .single-zone .h1 {
    font-size: 28px;
}


/*** Talks and Seminars ***/

.talk-seminars-page .colored-boxes,
.projects-page .colored-boxes {
    flex-wrap: wrap;
}

.talk-seminars-page .colored-box,
.projects-page .colored-box {
    width: 22%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.talk-seminars-page .talks-projects,
.projects-page .talks-projects {
    background: unset;
}

.talks-sems-date {
    font-size: 12px;
}

#talk-sems p a {
    padding-top: 0;
    height: 66px;
    -webkit-line-clamp: 3;
}


/*** Sidebar ***/

.sidebar>ul>li>a {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background: #549E59;
    padding: 11px 30px;
    border-radius: 6px;
    position: relative;
}

#arm .sidebar>ul>li>a {
    font-size: 14px;
}

.sidebar>ul>li {
    margin-bottom: 2px;
}

.sidebar .sub-menu {
    display: none;
}

.sidebar .sub-menu>li {
    padding: 11px 30px;
    position: relative;
}

.sidebar .sub-menu>li>a {
    color: #003B5C;
    font-weight: 400;
    font-size: 13px;
}

.sidebar .sub-menu>.current-menu-item>a {
    text-decoration: underline;
}

.sidebar .sub-menu>.current-menu-item>a::after,
.sidebar>ul>.menu-item-has-children>a::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.sidebar .sub-menu>.current-menu-item>a::after {
    width: 15px;
    height: 20px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(img/green-arr-right.png);
}

.sidebar>ul>.menu-item-has-children>a::after {
    width: 20px;
    height: 13px;
    right: 15px;
    top: 15px;
    background-image: url(img/arrow.png);
    transition: .2s;
}

.sidebar>ul>.menu-item-has-children.open-side-menu>a::after,
.sidebar>ul>.current-menu-item>a::after,
.sidebar>ul>.current-menu-parent>a::after {
    transform: rotate(180deg);
}

.age-template-page-function-areas .accordion:first-child {
    margin-top: 50px;
}


/*** ABOUT US ***/

.lsow-accordion.style3 .lsow-panel .lsow-panel-title {
    color: #003B5C !important;
    text-transform: none !important;
    font-size: 18px !important;
}

#panel-48-4-1-0 {
    text-align: right;
}

#panel-48-0-0-0,
#pl-4919 .so-panel,
#pg-4919-3 {
    margin-bottom: 5px !important;
}

.wp-image-421 {
    float: right;
    margin-left: 20px;
}

#hellothere .so-panel.panel-first-child {
    margin-bottom: 5px;
}


/*** Collaborations ***/

.title-with-links .single-collab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.title-with-links .single-collab h3 {
    border: none;
    padding: 0;
    padding-left: 12%;
    margin-bottom: 0;
    width: 50%;
}

.title-with-links .single-collab ul {
    padding-left: 30px;
    border-left: 2px solid #003B5C;
    width: 50%;
}

.collaborations-page .button {
    display: block;
    margin: auto;
    margin-top: 80px;
}

.collab-post-lists {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 25px;
}

.collab-post-lists a {
    font-size: 16px;
    color: #003B5C;
    text-decoration: underline;
}


/*** Collaborations acc ***/

.add-bt .button {
    margin-left: auto;
}

.add-bt .title-with-links .single-collab h3 {
    width: 30%;
    padding-left: 0;
}

.add-bt .single-collab ul {
    margin-left: 0;
}

.title-links-icon img {
    width: 60px;
    -o-object-fit: contain;
    object-fit: contain;
}


/*** FOOTER ***/


/*** change later ***/

footer {
    margin-top: 200px;
    background: #003B5C;
}

.page-id-48 footer,
.page-id-4919 footer {
    margin-top: 100px;
}

.page-template-page-contact footer,
.home footer {
    margin-top: 0;
}

#footer-menus {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 3px solid #3A913F;
}

#footer-menus a {
    color: #fff;
    font-weight: 700;
    line-height: 21px;
    text-decoration: none;
}

#footer-menus ul li {
    padding-bottom: 20px;
}

#footer-menus .rand {
    position: relative;
}

#footer-menus .rand:after {
    content: "";
    position: absolute;
    width: 1px;
    right: 50px;
    top: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
}

.footer-form p {
    color: #fff;
    font-weight: 700;
    font-size: 26px;
}

.footer-form label {
    color: #fff !important;
}

.menu-with-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-links a {
    text-decoration: none;
    font-size: 22px;
    margin-right: 25px;
}

.footer-description {
    width: 75%;
    color: #C4C4C4;
    font-weight: 400;
    text-align: center;
    margin: auto;
    padding: 40px 0;
}

#copyright {
    color: #fff;
    background: #3A913F;
    text-align: center;
    font-weight: 700;
    padding: 15px 0;
}

.page-404 {
    margin-top: 100px;
    margin-bottom: 200px;
}

.page-404 h1 {
    font-size: 120px;
    color: #003B5C;
    opacity: .7;
}


/* Large desktops and laptops */

@media (min-width: 1230px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1229px) {
    .hero-heading {
        left: 185px;
    }
}

@media (min-width: 1200px) {}

@media (max-width: 1199px) {
    .hero-heading {
        left: 145px;
        font-size: 32px;
    }
    #logo img,
    #arm #logo img {
        width: 300px;
        -o-object-fit: contain;
        object-fit: contain;
    }
    .talk-seminars-page .colored-box,
    .projects-page .colored-box {
        width: 28%;
    }
    .colored-boxes {
        flex-wrap: wrap;
        justify-content: center;
    }
    .colored-box {
        margin-right: 0;
        margin-bottom: 15px;
    }
}


/* Portrait tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 992px) {}

@media (max-width: 991px) {
    #logo {
        order: 1;
    }
    .navbar-expand-lg {
        order: 3;
    }
    .search {
        order: 2;
        margin-left: auto;
    }
    header nav {
        margin-left: 25px;
    }
    .navbar-toggler span {
        width: 31px;
        height: 3px;
        display: block;
        margin: 8px 0;
        background-color: #003B5C;
        transition: .3s ease;
    }
    .navbar-toggler {
        padding-left: 0;
    }
    .navbar-toggler:focus {
        outline: none !important;
    }
    .change .burger-two {
        opacity: 0;
    }
    .change .burger-one {
        transform: rotate(-45deg) translate(-9px, 8px);
    }
    .change .burger-three {
        transform: rotate(45deg) translate(-7px, -7px);
    }
    .navbar-collapse {
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        z-index: 10;
        background-color: #003B5C;
    }
    header .main-menu {
        margin: 0 20px;
    }
    header nav ul>li>a {
        color: #fff;
        font-size: 14px;
        margin: 0;
    }
    header nav ul>li {
        text-align: center;
        padding: 15px 0;
    }
    header nav ul>li:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    .masno {
        margin-bottom: 25px;
        gap: 15px;
    }
    .hero-heading {
        left: 195px;
    }
    .icon-text-box {
        width: 90%;
    }
    .talk-seminars-page .colored-box,
    .projects-page .colored-box {
        width: 45%;
    }
    .collabs .single-collab .h5 {
        position: relative;
    }
    .collabs .single-collab .h5::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 15px;
        right: 10px;
        top: 0;
        background-image: url(img/arr-down-sm.png);
        background-repeat: no-repeat;
        transition: .2s;
    }
    .single-collab .h5.open-collab::after {
        transform: rotate(180deg);
    }
    #collab-list {
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
        max-height: 0;
    }
    .open-collab+#collab-list {
        opacity: 1;
        max-height: 100% !important;
    }
    .single-collab ul {
        margin-top: 0;
    }
    .single-collab {
        overflow: hidden;
        margin-bottom: 20px;
    }
    .zones .col-md-4:not(:first-child) .single-zone {
        padding-left: 0;
    }
    #footer-menus .rand:after {
        right: 25px;
    }
    .sidebar>ul>li>a {
        font-size: 12px;
        font-weight: 500;
        padding: 11px 20px;
    }
    .sidebar ul>.menu-item-has-children>a::after {
        width: 18px;
        height: 11px;
        right: 15px;
        background-size: contain;
    }
    .sidebar .sub-menu>li {
        padding: 5px 20px;
    }
    .sidebar .sub-menu>li:not(:last-child) {
        border-bottom: 1px solid rgba(0, 59, 92, 0.3);
    }
    .sub-subs-box {
        width: calc(50% - 20px);
    }
    #highlights-archive .cus-container {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    h1,
    .h1 {
        font-size: 32px;
    }
    h2,
    .h2 {
        font-size: 24px;
    }
    h3,
    .h3,
    h4,
    .h4 {
        font-size: 18px;
    }
    h5,
    .h5,
    h6,
    .h6 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    .talks-projects .col-md-6:first-child {
        border-right: none;
        border-bottom: 1px solid #003B5C;
    }
    .talks-projects .col-md-6 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .zones .col-md-4:first-child .single-zone,
    .zones .col-md-4:nth-child(2) .single-zone {
        border-right: none;
        border-bottom: 1px solid #003B5C;
        margin-bottom: 25px;
    }
    .zones .col-md-4:not(:first-child) .single-zone {
        padding-left: 0;
    }
    .menu-with-social {
        flex-direction: row;
    }
    #footer-menus .rand:after {
        display: none;
    }
    #logo {
        order: 1;
    }
    .navbar-expand-lg {
        order: 2;
        margin-left: auto;
    }
    .search {
        order: 2;
        margin-left: 0;
        flex-basis: 100%;
        margin-top: 10px;
    }
    header .search-bar {
        flex-basis: 100%;
        padding: 5px;
    }
    .colored-boxes {
        margin-bottom: 25px;
    }
    .sidebar {
        margin-bottom: 25px;
        display: none;
    }
    .masno {
        grid-template-columns: repeat(3, 1fr);
    }
    .hero-heading {
        left: 195px;
    }
    #highlights-archive .cus-container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }
    #menu-footer-menu-3 {
        padding: 18px 0;
    }
    #team-224 .item {
        display: block;
    }
    .skin.flat .layer-content {
        text-align: center;
    }
    .team-container .layer-media img {
        margin: auto;
        display: block;
    }
}


/* Landscape phones and smaller */

@media (max-width: 544px) {
    header nav {
        margin-left: unset;
    }
    .logo-menu {
        justify-content: space-between;
    }
    .masno {
        grid-template-columns: repeat(2, 1fr);
    }
    .hero-heading {
        left: 15px;
        text-align: left;
    }
    .zones .single-zone ul a {
        font-size: 13px;
    }
    .footer-description {
        width: 100%;
        text-align: left;
    }
    #copyright {
        font-size: 10px;
    }
    .collabs .col-md-4:not(:last-child) {
        padding-right: 15px;
    }
    .highlights-slider .owl-controls {
        display: none;
    }
    .main-fnc-img {
        margin-bottom: 25px;
    }
    .team-member {
        flex-direction: column;
    }
    .member-info {
        margin-left: 0;
        margin-top: 5px;
        text-align: center;
    }
    #highlights-archive .cus-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .ftm h1 {
        font-size: 21px !important;
    }
    .team-items {
        grid-template-columns: repeat(2, 1fr);
    }
    #menu-header-menu {
        display: none;
    }
    .main-menu-mobile {
        display: block;
        margin: 0 20px;
    }
    .breadcrumbs {
        font-size: 8px;
    }
    .sidebar .sub-menu>.current-menu-item>a::after {
        width: 10px;
        height: 15px;
        right: 16px;
    }
    .accordion .card button {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    #posts-filter {
        text-align: left;
    }
    .search-field {
        margin-top: 10px;
    }
}

@media (max-width: 410px) {
    .talk-seminars-page .colored-box,
    .projects-page .colored-box {
        width: 90%;
    }
}

@media (max-width: 410px) {
    .talk-seminars-page .colored-box,
    .projects-page .colored-box {
        width: 90%;
    }
    #logo img,
    #arm #logo img {
        width: 200px;
    }
    .sub-subs-box {
        width: 100%;
    }
    #highlights-archive .cus-container {
        grid-gap: 10px;
    }
}

@media (max-width: 357px) {
    .team-items {
        grid-template-columns: repeat(1, 1fr);
    }
}

.gform_wrapper.gravity-theme .gfield textarea.small {
    border-radius: 6px!important;
    border: none!important;
}

.gform_wrapper.gravity-theme .gfield input {
    border-radius: 6px!important;
    border: none!important;
}

.collab-button-aua {
    display: none;
}